<ion-header>
    <ion-toolbar>
        
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title>Cadastrar Produto</ion-title>

        <ion-buttons slot="end">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
  
<ion-content class="ion-padding">
    <ion-row>
        <ion-col size-md="6" offset-md="3">
            <form [formGroup]="form" (submit)="onSubmit()">
            
                <ion-item class="ion-margin-bottom" *ngIf="image != null">
                    <ion-label position="floating">Nome do Produto</ion-label>
                    <ion-input formControlName="product"></ion-input>
                </ion-item>

                <ion-item class="ion-margin-bottom" *ngIf="image != null">
                    <ion-label position="floating">Preço</ion-label>
                    <ion-input formControlName="price"></ion-input>
                </ion-item>

                <ion-button (click)="filePicker.click()" color="danger"
                        type="button" expand="block">Selecionar imagem</ion-button>
        
                <input style="visibility:hidden" type="file"
                    #filePicker  (change)="uploadFile($event)" />
            
                <ion-button type="submit" expand="block">Salvar</ion-button>
        
            </form>
        </ion-col>

        <ion-col size="6" offset="3" size-md="4" offset-md="4"  *ngIf="image != null"
            style="background: url(https://loading.io/spinners/rolling/lg.curve-bars-loading-indicator.gif) center no-repeat; background-size: 50px auto; min-width: 50px; min-height: 50px">
            <ion-img [src]="image"></ion-img>
        </ion-col>

        
    </ion-row> 
</ion-content>
