<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button defaultHref="/produtos"></ion-back-button>
        </ion-buttons>

        <ion-title>vouchers</ion-title>

        <ion-buttons slot="end">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="vouchers && vouchers.length > 0">
    <!-- <ion-virtual-scroll [items]="vouchers" approxItemHeight="70px">
        <ion-item-sliding *virtualItem="let voucher; let i = index">
            <ion-item>
                <ion-label>{{voucher.voucherId}}</ion-label>
                <ion-label>{{products[i].title}}</ion-label>
                <ion-label>{{users[i].name}}</ion-label>
            </ion-item>

            <ion-item-options side="end">

                    <ion-item-option
                        (click)="onValidateVoucher(voucher.id)">
                        <ion-icon name="create"></ion-icon>
                    </ion-item-option>

                </ion-item-options>
        </ion-item-sliding>
    </ion-virtual-scroll> -->

    <div *ngFor="let voucher of vouchers; let i = index">
        <ion-item-sliding> 
            <ion-item>
                <ion-label>{{voucher.id | slice : 0 : 8}}</ion-label>
                <ion-label>{{products[i].title}}</ion-label>
                <ion-label>{{users[i].name}}</ion-label>
            </ion-item>

            <ion-item-options side="end">

                    <ion-item-option
                        (click)="onValidateVoucher(voucher.id)">
                        <ion-icon name="create"></ion-icon>
                    </ion-item-option>

                </ion-item-options>
        </ion-item-sliding>
    </div>
</ion-content>
